/******* variables *******/
@mixin box-size { box-sizing: border-box; }
@mixin info { font-size: 1.2em;  padding: 1em 0.75em;}

$color-black: #000000;
$logo-font: 4.75em;

$card-background: lightgrey;


$tool-btn-background: lightcoral;
$tool-btn-radius: 39px 0 72px 0;

$global-5-percent: 5%;

$font-stack-family: 'Sirin Stencil', cursive;

$global-width: 100%;
$global-third-width: 75%;
$global-half-width: 50%;


$mini-image-size-width:   150px;
$mini-image-size-height:  150px;
$mini-image-size-blade: 200px;

$card-bottom-margin: 5%;
$card-inside-padding: 0.75em;

$code-display-method: flex;
$code-margin-bottom: -0.50em;

$thumb-width: 9.375em;
$thumb-height: 6.250em;
/**** end variables   ******/

html {
  @include box-size;
}

* { @include box-size;

  &:before { @include box-size; }


  &:after { @include box-size;  }
}

.tools { /* Gary's Tool List TITLE */
  font-family: $font-stack-family;
  font-size: $logo-font;
  background : $tool-btn-background;
  border-radius: $tool-btn-radius;
  -moz-border-radius: $tool-btn-radius;
  -webkit-border-radius: $tool-btn-radius;
  border: 7px double $color-black;

}

img {
  border-radius: $global-5-percent;
}


.card {
  background: $card-background; border-radius: $global-5-percent;
  border: 1px solid red; margin-left: auto;
  margin-right: auto; margin-bottom: $card-bottom-margin;
  max-width: $global-width; min-width: auto;
  padding: $card-inside-padding;
}
.code { display: $code-display-method;
         flex-wrap: wrap;
          flex-direction: column; }

.box-image-width { width: $mini-image-size-height; }
.box-blade-width { width: $mini-image-size-blade; }
.box-image-height { height: $mini-image-size-width; }

.half { width: $global-half-width; border-radius: $global-5-percent; }

.third { width: $global-third-width; border-radius: $global-5-percent; }

.info, .tool-info { @include info; }

.large { font-size: 3em; }

.card-holder { display: flex; flex-wrap: wrap}

aside img {  width: 15.313em; display: inline-block;}

.catalog-images { max-width: $global-width; }

.box-blade-width { width: 12.500em; }

.half { width: $global-half-width; border-radius: $global-5-percent; }

.third { border-radius: $global-5-percent; }

.info, .tool-info {
  font-size: 1.2em;
  padding: 1em 0.75em;
}



.listing {
  list-style-type: none;
}


.btn.btn-danger { margin-bottom: 0.25em; }

.btn-width {
  margin-top: 0.5em;
  max-width: 13.625em;
}

.sale { text-decoration-line: underline; }

.thumbnail { width: $thumb-width; height: $thumb-height; }
.center { align-self: center; }

div .bottom-drop:first-child { margin-bottom: $code-margin-bottom; }
