html {
  box-sizing: border-box;
}
*, *:before, *:after {
  boxsizing: inherit;
}

.tools { /* Gary's Tool List TITLE */
  font-family: 'Sirin Stencil', cursive;
  font-size: 4.75em;
  background : lightcoral;
  border-radius: 39px 0px 72px 0px;
  -moz-border-radius: 39px 0px 72px 0px;
  -webkit-border-radius: 39px 0px 72px 0px;
  border: 7px double #000000;

}
img {
  border-radius: 5%;
}
.card {
  padding: 0.75em;
  width: 100%;
  background: lightgrey;
  border-radius: 5%;
  border: 1px solid red;
  margin-bottom: 1.75em;

}

.half { width: 50%; border-radius: 5%; }

.info, .tool-info {
  font-size: 1.2em;
  padding: 1em 0.75em;
}

.large { font-size: 3em; }

.f-right {
  float: right;
  padding: 1em 2em 1em;
}