/******* variables *******/
@mixin box-size { box-sizing: border-box; }
@mixin info { font-size: 1.2em;  padding: 1em 0.75em;}

$color-black: #000000;
$logo-font: 4.75em;

$card-background: lightgrey;


$tool-btn-background: lightcoral;
$tool-btn-radius: 39px 0px 72px 0px;

$border-radius: 5%;

$font-stack-family: 'Sirin Stencil', cursive;

$global-width: 100%;
$global-third-width: 75%;
$global-half-width: 50%;


$mini-image-size-width:   150px;
$mini-image-size-height:  150px;
$mini-image-size-blade: 200px;

$card-bottom-margin: 5%;

/**** end variables   ******/

html {
  @include box-size;
}

* { @include box-size;

  &:before { @include box-size; }


  &:after { @include box-size;  }
}

.tools { /* Gary's Tool List TITLE */
  font-family: $font-stack-family;
  font-size: $logo-font;
  background : $tool-btn-background;
  border-radius: $tool-btn-radius;
  -moz-border-radius: $tool-btn-radius;
  -webkit-border-radius: $tool-btn-radius;
  border: 7px double $color-black;

}

img {
  border-radius: $border-radius;
}
.card {
  padding: 0.75em;
  width: $global-width;
  background: $card-background;
  border-radius: $border-radius;
  border: 1px solid red;
  margin-bottom: $card-bottom-margin;

}

.box-image-width { width: $mini-image-size-height; }
.box-blade-width { width: $mini-image-size-blade; }
.box-image-height { height: $mini-image-size-width; }

.half { width: $global-half-width; border-radius: $border-radius; }

.third { width: $global-third-width; border-radius: $border-radius; }

.info, .tool-info { @include info; }

.large { font-size: 3em; }

.f-right {  float: right;  padding: 1em 2em 1em; }




/******* variables *******/
/**** end variables   ******/
html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

*:before {
  box-sizing: border-box;
}

*:after {
  box-sizing: border-box;
}

.tools {
  /* Gary's Tool List TITLE */
  font-family: "Sirin Stencil", cursive;
  font-size: 4.75em;
  background: lightcoral;
  border-radius: 39px 0px 72px 0px;
  -moz-border-radius: 39px 0px 72px 0px;
  -webkit-border-radius: 39px 0px 72px 0px;
  border: 7px double #000000;
}

img {
  border-radius: 5%;
}

.catalog-card {
  /*margin-right: 0.5%;*/
}
.card {
  /*padding: 0.75em;*/
  max-width: 100%;
  min-width: auto;
  background: lightgrey;
  border-radius: 5%;
  border: 1px solid red;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
}

.card-holder { display: flex; flex-wrap: wrap}

aside img { /*margin-top: 5em;*/ width: 15.313em; display: inline-block;}
/**/
.catalog-images { max-width: 100%; }



.box-blade-width {
  width: 12.500em;
}


.half {
  width: 50%;
  border-radius: 5%;
}

.third {
  /*width: 75%;*/
  border-radius: 5%;
}

.info, .tool-info {
  font-size: 1.2em;
  padding: 1em 0.75em;
}

.large {
  font-size: 3em;
}

.f-right {
  float: right;
  padding: 1em 2em 1em;
}
.listing {
  list-style-type: none;
}
.detail-top {
  margin-top: 2em;
}
.detail-images {

}
.right {
  float: right;
  image-rendering: crisp-edges;

}
.btn.btn-danger { margin-bottom: 0.25em; }

.btn-width {
  margin-top: 0.5em;
  max-width: 13.625em;
}