/******* variables *******/
/**** end variables   ******/
html {
  box-sizing: border-box; }

* {
  box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }

.tools {
  /* Gary's Tool List TITLE */
  font-family: "Sirin Stencil", cursive;
  font-size: 4.75em;
  background: lightcoral;
  border-radius: 39px 0 72px 0;
  -moz-border-radius: 39px 0 72px 0;
  -webkit-border-radius: 39px 0 72px 0;
  border: 7px double #000000; }

img {
  border-radius: 5%; }

.card {
  background: lightgrey;
  border-radius: 5%;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  max-width: 100%;
  min-width: auto;
  padding: 0.75em; }

.box-image-width {
  width: 150px; }

.box-blade-width {
  width: 200px; }

.box-image-height {
  height: 150px; }

.half {
  width: 50%;
  border-radius: 5%; }

.third {
  width: 75%;
  border-radius: 5%; }

.info, .tool-info {
  font-size: 1.2em;
  padding: 1em 0.75em; }

.large {
  font-size: 3em; }

.card-holder {
  display: flex;
  flex-wrap: wrap; }

aside img {
  width: 15.313em;
  display: inline-block; }

.catalog-images {
  max-width: 100%; }

.box-blade-width {
  width: 12.500em; }

.half {
  width: 50%;
  border-radius: 5%; }

.third {
  border-radius: 5%; }

.info, .tool-info {
  font-size: 1.2em;
  padding: 1em 0.75em; }

.listing {
  list-style-type: none; }

.btn.btn-danger {
  margin-bottom: 0.25em; }

.btn-width {
  margin-top: 0.5em;
  max-width: 13.625em; }
